<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="D20230912.mybatis.mapper.UserMapper">
    <sql id="select-name">
id as class_id,title,creator,</sql>
<!--    把数据库中的id对应class中的class_id，sql种元素要写全-->
    <select id="tableinfo" resultMap="RuseltMape">
<!--<include refid="select-name"/>-->
        select *
        from blog_table
        where id = #{id}
    </select>
    <select id="searchBlog" resultType="User">
        select *
        from blog_table
        <where>
            <if test="title != '' and title != null">
                and title LIKE #{title}
            </if>
            <if test="creator != '' and creator != null">
                and creator LIKE #{creator}
            </if>
        </where>
    </select>
<!--    <select id="searchBlog" resultType="User">-->
<!--        select *-->
<!--        from blog_table-->
<!--        <choose>-->
<!--            <when test="title != '' and title != null">-->
<!--                where title LIKE #{title}-->
<!--            </when>-->
<!--            <when test="creator != '' and creator != null">-->
<!--                where creator LIKE #{creator}-->
<!--            </when>-->
<!--        </where>-->
<!--    </select>-->
    <resultMap id="RuseltMape" type="D20230912.mybatis.po.User">
    <id property="id" column="id" />
    <result property="title" column="title" />
    <result property="creator" column="creator" />  </resultMap>
</mapper>
