<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="D20230904.mybatis.mapper.UserMapper">
    <select id="selectUser" resultType="User">
        select *
        from user
        where id = #{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" >
        insert into user (username,email, account, password)
        values (#{username},#{email}, #{account} ,#{password})
    </insert>

    <update id="updateUser">
        update user
        set name    = #{name},
            balance = #{balance}
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="testPreparedStatement">
        select (id, email , password , username , account)
        from user
    </select>

    <select id="getUser" resultType="User">
        select *
        from user
        where email = #{email}
    </select>

    <select id="getUser_id" resultType="int">
        select id
        from user
        where email =#{email}
    </select>

    <insert id="add_Operation_record" useGeneratedKeys="true">
        insert into operation_record  (user_id, Time, operation)
        values (#{user_id}, #{time} ,#{operation})
    </insert>

    <delete id="delete">
        delete
        from user
        where email = #{email}
    </delete>

    <update id="update">
        update user
        set email    = #{email},
            account = #{account},
            password = #{password}
        where email = #{email}
    </update>

    <update id="updateLoginTime">
        update user
        set loginTime    = #{loginTime}
        where email = #{email}
    </update>
</mapper>
